*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: flex-start; 
    align-items: center;            
    padding: 20px 2%;                     
    gap: 100px;
    width: 100%; 
}

header .titulo h1 {
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


header .nav-principal {
    width: 100%; 
}


header .nav-principal ul {
    display: flex;                  
    gap: 30px;                      
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    color: white;
    align-items: center; 
    width: 100%; 
}

header .nav-principal a {
    text-decoration: none;
    color: white;
}


header .nav-principal ul li:last-child {
    margin-left: auto;
}


header .nav-principal button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    
}
