*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color:rgb(12, 12, 12);
    color: white;
}

header {
    display: flex;
    justify-content: flex-start; 
    align-items: center;            
    padding: 20px 2%;                     
    gap: 100px;
    width: 100%; 
}

header .titulo h1 {
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


header .nav-principal {
    width: 100%; 
}


header .nav-principal ul {
    display: flex;                  
    gap: 30px;                      
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    color: white;
    align-items: center; 
    width: 100%; 
}

header .nav-principal a {
    text-decoration: none;
    color: white;
}


header .nav-principal ul li:last-child {
    margin-left: auto;
}


header .nav-principal button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    
}

.topo-pagina h2 {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    display: flex;
    padding: 40px 3%;  
    
}

.topo-pagina h1 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 46px;
    width: 700px;
    display: flex;
    padding: 1px 3%;
    align-items: center;
}

.topo-pagina p {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    display: flex;
    padding: 20px 3%;
    width: 600px;
}

.topo-pagina .topo-img {

    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    top: -300px;
    right: 50px;
    
}

.topo-pagina .topo-img img {

    width: 40%;
}
